.fbt {
  @extend %button-none;

  color: $c-primer-primary;

  text-transform: uppercase;
  line-height: 1.5;

  @include transition;

  @media (hover: hover) {
    &:hover:not(.disabled):not([disabled]) {
      color: $c-primer-primary;
    }
  }

  &.active {
    color: $c-primer-primary;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}
