body {
  /* prevents scroll bar flicker on page height changes */
  overflow-y: scroll;
}

#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls});

  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.analyse {
  display: grid;
  grid-template-columns: $col2-uniboard-squeeze-width 1fr;
  grid-template-rows: auto;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  .right {
    border-left: 1px solid $c-primer-stroke;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding: 0 24px;
  }

  @include breakpoint($mq-col1) {
    grid-template-columns: 1fr;
  }
}

cg-board {
  box-shadow: none;
}

cg-resize {
  display: none;
}

#announce {
  display: none !important;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  font-size: 1.2em;
}

body {
  overflow-y: hidden;
}
