body {
  /* prevents scroll bar flicker on page height changes */
  overflow-y: scroll;
}

#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls});

  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.analyse {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  grid-template-columns: 500px var(--gauge-gap) 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'board gauge table';

  &__table {
    grid-area: table;
  }

  &__tools {
    height: auto;
    border-radius: 0px !important;
    box-shadow: none;
  }

  &__board {
    grid-area: board;
  }

  .eval-gauge {
    grid-area: gauge;
    // display: none;
  }
}

cg-board {
  box-shadow: none;
}
