@import '../../common/css/component/material';

$clock-height: 20px;

.analyse__player_strip {
  display: flex;
  height: $clock-height;
  font-family: 'Ginto Nord', 'Inter', sans-serif;
}

.analyse__clock {
  @extend %metal;

  display: flex;
  align-items: center;

  padding: 0 0.5em;
  margin-left: 8px;
  font-size: 1.2em;
  // height: $clock-height;
  font-weight: bold;
  text-align: center;

  &.active {
    &::before {
      content: '';
      margin-right: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: linear-gradient(180deg, #642fc2 0%, #318bff 100%);
    }
  }

  tenths {
    font-size: 80%;
  }
}

.material {
  padding-right: 1px;

  mpiece {
    width: 20px;
    height: 20px;

    &.pawn {
      margin-left: -10px;
    }
  }
  score {
    margin-top: -2px;
  }
}

.material-top {
  margin-top: -1px;
}

.material-bottom {
  margin-top: 1px;
}
