.rcontrols {
  grid-area: controls;
}

.material-top {
  grid-area: mat-top;
}

.material-bottom {
  grid-area: mat-bot;
}

.expiration-top {
  grid-area: expi-top;
}

.expiration-bottom {
  grid-area: expi-bot;
}

.ruser-top {
  grid-area: user-top;
}

.ruser-bottom {
  grid-area: user-bot;
}

.rclock-top {
  grid-area: clock-top;
}

.rclock-bottom {
  grid-area: clock-bot;
}

#{$rmoves-tag},
.col1-rmoves-preload {
  grid-area: moves;
}

.keyboard-move {
  grid-area: kb-move;
}

.round__app {
  display: flex;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    height: 100%;
  }

  .right {
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    border-left: 1px solid $c-primer-stroke;
    height: 100%;
  }

  .left {
    width: 50%;
    max-width: 95vh;
    @media screen and (max-width: 800px) {
      width: 100%;
      max-width: 75vh;
    }
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }

  @include breakpoint($mq-col1) {
    grid-template-columns: 1fr;
  }
}
