.rcontrols {
  grid-area: controls;
}

.material-top {
  grid-area: mat-top;
}

.material-bottom {
  grid-area: mat-bot;
}

.expiration-top {
  grid-area: expi-top;
}

.expiration-bottom {
  grid-area: expi-bot;
}

.ruser-top {
  grid-area: user-top;
}

.ruser-bottom {
  grid-area: user-bot;
}

.rclock-top {
  grid-area: clock-top;
}

.rclock-bottom {
  grid-area: clock-bot;
}

#{$rmoves-tag},
.col1-rmoves-preload {
  grid-area: moves;
}

.keyboard-move {
  grid-area: kb-move;
}

.round__app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  // flex: 1 1 0;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  @include breakpoint($mq-col2) {
    flex-direction: row;
  }

  .right {
    flex: 1 1 0%;
    border-left: 1px solid $c-primer-stroke;
  }

  .left {
    width: 100%;
    border-left: 1px solid $c-primer-stroke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;

    @include breakpoint($mq-col2) {
      max-width: 90vh;
    }
  }
}
