.rcontrols {
  grid-area: controls;
}

.material-top {
  grid-area: mat-top;
}

.material-bottom {
  grid-area: mat-bot;
}

.expiration-top {
  grid-area: expi-top;
}

.expiration-bottom {
  grid-area: expi-bot;
}

.ruser-top {
  grid-area: user-top;
}

.ruser-bottom {
  grid-area: user-bot;
}

.rclock-top {
  grid-area: clock-top;
}

.rclock-bottom {
  grid-area: clock-bot;
}

#{$rmoves-tag},
.col1-rmoves-preload {
  grid-area: moves;
}

.keyboard-move {
  grid-area: kb-move;
}

.round__app {
  display: grid;
  grid-template-columns: $col2-uniboard-squeeze-width 1fr;
  grid-template-rows: auto;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  .right {
    border-left: 1px solid $c-primer-stroke;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding: 0 24px;
  }

  @include breakpoint($mq-col1) {
    grid-template-columns: 1fr;
  }
}
