.rcontrols {
  text-align: center;

  p {
    margin: 0;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .ddloader {
    margin: 20px auto 10px auto;
  }

  .suggestion,
  .pending,
  .negotiation {
    padding: 0.5em 3%;
    background: $c-bg-zebra;
    border: $border;
    border-width: 0 1px;
  }

  .suggestion {
    @extend %flex-center;

    justify-content: space-around;

    p {
      width: 100%;
    }

    .button {
      margin: 0.5em 0 0 0;
    }
  }

  .pending {
    @extend %flex-center-nowrap;

    p {
      flex: 3 1;
      margin-right: 7px;
    }

    .button {
      flex: 1 1;
    }
  }

  .draw-yes.button {
    font-size: 1.4em;
    padding: 0.1em 1em;
  }

  @keyframes flash-once {
    from {
      background: $c-accent;
      color: $c-accent-over;
    }

    to {
      background: $c-bg-zebra;
      color: $c-font;
    }
  }

  .negotiation {
    @extend %flex-center-nowrap;
    animation: flash-once 1s ease-in;

    padding: 1px;

    p {
      flex: 3 1 auto;
    }

    a {
      flex: 1 0 3rem;
      font-size: 1.5em;
      line-height: 3em;
      background: $c-bg-box;
    }

    .accept {
      color: $c-good;
      margin-right: 1px;
    }

    .decline {
      color: $c-bad;
    }

    a:hover {
      color: #fff;
      background: $c-good;
    }

    a.decline:hover {
      background: $c-bad;
    }

    @include breakpoint($mq-col1) {
      a {
        line-height: 1.6em;
        flex: 0 0 2.5rem;
        padding: 0 1.2em;
      }

      padding: 3px;
    }
  }

  .glowing:hover {
    animation: none;
  }
}
