#{$moves-tag} > :not(.result-wrap) {
  @extend %zen;
}

#{$index-tag} {
  @extend %roboto;
}

#{$move-tag} {
  @extend %san;
}

#{$moves-tag} {
  // fancy tech to make items fix but not overflow
  flex: 2 1 0 !important;
  height: 100%;
}

#{$rmoves-tag} {
  @extend %flex-column, %double-tap;

  height: 100%;
  position: relative;

  .buttons {
    flex: 0 0 auto;
    display: flex;
    justify-content: stretch;
    font-size: 0.9em;
    order: 2;

    border-bottom: 1px solid $c-primer-stroke;

    @include breakpoint($mq-col2) {
      order: 0;
    }
  }

  .fbt,
  .noop {
    padding: 12px 0;
    flex: 1 1 auto;
    text-align: center;
  }

  #{$moves-tag},
  .message {
    flex: 0 0 7.4rem;
  }

  @import 'moves-col1';
  @import 'moves-col2';
}

@include breakpoint($mq-col1) {
  .col1-rmoves-preload {
    height: 2.5em;
  }
}
