/* context: #{$rmoves-tag} */
@include breakpoint($mq-col2) {
  background: $c-bg-box;

  #{$moves-tag} {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

    /* required by autoScroll */
    overflow-y: auto;
    align-content: flex-start;
    will-change: scroll-position;
    user-select: none;
    line-height: 1.7;
    font-size: 1.1em;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  #{$index-tag} {
    /* Edge 18: flex: 0 0 calc(100% / 6); causes wrap */
    flex: 0 0 16.666%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $c-primer-background-secondary;
    color: $c-primer-text-primary;
    font-family: 'Inter', sans-serif;
    border-right: 1px solid $c-primer-stroke;
  }

  #{$move-tag} {
    /* Edge 18: flex: 0 0 calc(100% * 5 / 12); causes wrap */
    flex: 0 0 41.666%;
    padding-left: 0.7em;
    cursor: pointer;

    font-family: 'Inter', sans-serif;

    &:hover {
      background: $c-primer-background-secondary;
    }

    &.#{$active-class} {
      background: $c-primer-primary-hover-1;
      color: $c-primer-primary;
      font-weight: 600;
    }
  }

  // .message {
  //   display: flex;
  //   align-items: center;
  //   margin: 1em;

  //   &::before {
  //     color: $c-font-dim;
  //     font-size: 3em;
  //     margin-right: 12px;
  //   }
  // }

  .result-wrap {
    width: 100%;
    text-align: center;
  }

  .result {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
  }

  .status {
    margin-bottom: 0;
    font-size: 16px;
  }
}
